.work {
    margin: 50px 0px;
    margin-left: 50px;

}

.work hr {
    color: #138781;
    width: 400px;
    margin: 10px auto;
}

.work h2 {
    font-weight: bold;
    color: #878513;
}

.work .row {
    width: 93%;
    display: flex;
}


/* Timeline custom styles extracted from Education.js */
.timeline-item {
    padding-top: 20px;
    padding-bottom: 20px;
}

#timeline-duration {
    font-family: 'Audiowide', sans-serif;
    color: rgb(35, 78, 110);
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
}

.timeline-dot {
    width: 80px !important;
    height: 80px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-dot :hover {
    width: 83px;
    height: 83px;
    transition: 0.5s;
}

.timeline-detail {
    margin-top: 10px;
    text-align: left;
}

.timeline-detail:hover {
    color: #0ea0f5;
    transition: 0.5s;
    font-size: 18px;
}

.timeline-company {
    font-weight: bold;
    font-family: 'Audiowide', sans-serif;
    color: #0d46afff;
    font-size: 30px;
}

.timeline-company:hover {
    color: #0ea0f5;
    transition: 0.5s;
    font-size: 32px;
}

.timeline-position {
    font-weight: bold;
    font-family: 'Audiowide', sans-serif;
    color: #0d46afff;
    font-size: 30px;
    text-align: left;
}

.timeline-position:hover {
    font-weight: bolder;
    color: #138781;
    transition: 0.5s;
    font-size: 40px;
}


/* dark mode */
#dark .timeline-item {
    background-color: #065a6d;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 90px;
}

#dark #timeline-duration {
    color: #ffffff;
}

#dark .timeline-company {
    color: #ffffff;
}

#dark .timeline-position {
    color: #ffffff;
}

#dark .timeline-detail {
    color: #ffffff;
}

#dark #timeline-duration {
    color: #ffffff;
}


@media (max-width: 600px) {
    .work {
        margin: 0;
        padding: 0;
        margin-top: 50px;
    }

    .work hr {
        width: 280px;
    }
}